<%= stylesheet_link_tag '/css/about.css', :media => 'all' %>


      <div class="jumbotron">
    		<h1>About Us</h1>
    		<h3>
    			This is a website for students at Purdue University to openly comment on and review their courses.<br><br>

    			The goal is for students to see real, unbiased reviews written be students who experienced the courses first hand.<br><br>

    			Students can ask questions about courses and read and write reviews to help other students with deciding whether to take a course or to help themselves!<br><br>

    			Names are not used anywhere. This site is designed to be anonymous. Sign up and start writing reviews today!
    		</h3>
    	</div>
