<%= stylesheet_link_tag '/css/about.css', :media => 'all' %>


<div class="jumbotron">
  <h1>Privacy Policy</h1>
	<h3>
		Your name is not stored anywhere on our site nor in our databases.<br><br>

		Your email is used to tie reviews to an individual for metrics reasons and to keep users from abusing the site.<br><br>

		We do not give out emails or use them for any purpose outside of this website.<br><br>

		This site is designed to be anonymous. Enjoy!
	</h3>
</div>
