<div id="bottom">
	<div class="container">
		<div align="center">
			<a href="/pages/about" class="link" style="color: #B1810B;">About</a> | <a href="/ContactUs" class="link" style="color: #B1810B;">Contact Us</a> |
			<a href="/pages/privacypolicy" class="link" style="color: #B1810B;">Privacy Policy</a>
		</div>
		<div align="center">
			Designed and Maintained by DevTeam3
		</div>
		<div align="center">
			Trouble with this page? Please contact us at admin@ratemyclasses.com
		</div>
	</div>
</div>
