<style>
	li {
		display: inline;
		margin-right: 10px;
	}
  
  .foot {
    background-color: black;
    color: #B1810B;
    height: 30px;
  }

  .lnk:hover {
    color: #B1810B;
    background-color: transparent;
  }

  .navbar-fixed-bottom {
    height: 25px !important;
  }
</style>

<nav class="navbar-s navbar-fixed-bottom foot">
  <div class="container-fluid">
  	<ul class="navbar-nav">
        <li><a href="/pages/about" class="lnk" style="color: #B1810B;">About</a></li>
        <li><a href="/ContactUs" class="lnk" style="color: #B1810B;">Contact Us</a></li>
        <li><a href="/pages/privacypolicy" class="lnk" style="color: #B1810B;">Privacy Policy</a></li>
    </ul>
    </div>
  </div>
</nav>
